/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://creativecommons.org/licenses/MIT/   */

/*  Resets
    ------  */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
}

article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video
	{
	display: block;
}

a img {
	border: 0;
}

/*  Typography presets
    ------------------  */
.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge,h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large,h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger,h3 {
	font-size: 26px;
	line-height: 36px;
}

.big,h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small,small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */
::selection {
	background: rgb(255, 255, 158);
}

::-moz-selection {
	background: rgb(255, 255, 158);
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: rgb(255, 255, 158);
}

#rules,field .input,#add,.remove,.tzSelect .selectBox,.tzSelect .selectBox:hover,.tzSelect .selectBox.expanded,.tzSelect .dropDown
	{
	behavior: url(/js/PIE.htc);
}

/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
body {
	margin: auto;
	width: 896px;
	padding: 44px 48px 84px;
	background: #333 url(/img/RSS_Flowers_by_CorouD/flower1_white1-notrans.png) top
		center no-repeat;
	color: #ddd;
	-webkit-text-size-adjust: 100%;
	/* Stops Mobile Safari from auto-adjusting font-sizes */
}

h1 {
	text-align: right;
	color: #febf01;
	font-size: 500%;
	margin-left: 50%;
}

#citation {
	margin-top: 88px;
	width: 352px;
	text-align: right;
	margin-left: 0px;
}

#citation p {
	margin-bottom: 1em;
}

#citation strong {
	font-weight: normal;
	color: #febf01;
}

#description {
	margin-top: 40px;
	float: right;
	font-size: 140%;
	line-height: 120%;
	width: 252px;
	text-align: right;
}

#description strong {
	display: block;
	color: #febf01;
	padding-top: 1em;
}

#rules {
	font-size: 150%;
	clear: both;
	margin-top: 110px;
	padding: 2em;
	border-radius: 1em;
	background: #333;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#rules label {
	display: block;
	color: #febf01;
	font-weight: bold;
	padding-bottom: .4em;
}

.field {
	margin-bottom: 1em;
}

.field input {
	background: white;
	border: 0;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 1em;
	width: 780px;
}

.logic {
	display: block;
	padding-bottom: 30px;
}

.logic .tzSelect {
	position: relative;
	top: 16px;
}

.rule .tzSelect {
	min-width: 150px;
}

.must .tzSelect {
	min-width: 110px;
}

#text {
	width: 300px;
	position: relative;
	top: -18px;
	margin-left: 4px;
}

#add {
	position: relative;
	top: -14px;
	width: 50px;
	border-radius: 25px;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0d0), to(#080)
		);
	background: -moz-linear-gradient(#0d0, #080);
	background: linear-gradient(#0d0, #080);
	font-size: 25px;
	color: #050;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	padding: 0;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 4px;
	margin-left: 6px;
}

.remove {
	border: 0;
	position: relative;
	top: -4px;
	width: 32px;
	border-radius: 25px;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d00), to(#800)
		);
	background: -moz-linear-gradient(#d00, #800);
	background: linear-gradient(#d00, #800);
	font-size: 15px;
	color: #500;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	padding: 0;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	margin-left: 4px;
	margin-right: 10px;
}

.urlparam {
	margin-bottom: .6em;
}

#finalurl {
	color: white;
	font-size: 90%;
	text-decoration: none;
	font-family: monospace;
}

/*      Tablet Layout: 768px.
        Gutters: 24px.
        Outer margins: 28px.
        Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		width: 712px;
		padding: 44px 28px 60px;
	}
	h1 {
		font-size: 400%;
		margin-left: 50%;
	}
	#citation {
		width: 260px;
		font-size: 80%;
	}
	#description {
		font-size: 120%;
		line-height: 120%;
		width: 180px;
	}
	.field input {
		width: 592px;
	}
	#text {
		width: 120px;
	}
}

/*      Wide Mobile Layout: 480px.
        Gutters: 24px.
        Outer margins: 22px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (max-width: 767px) {
	body {
		width: 436px;
		padding: 3px 12px 48px;
		background-image:
			url(/img/RSS_Flowers_by_CorouD/flower1_white1_small.png);
	}
	h1 {
		font-size: 250%;
	}
	#citation {
		margin-top: 30px;
		width: 170px;
		font-size: 80%;
	}
	#description {
		font-size: 90%;
		text-align: left;
		width: 180px;
		margin-top: 100px;
	}
	#rules {
		margin-top: 25px;
		overflow: auto;
	}
	.field input {
		width: 316px;
	}
	#text {
		width: 306px;
		position: relative;
		top: -4px;
		margin-left: 4px;
		margin-bottom: 28px;
	}
	#add {
		margin-left: 4px;
		width: 324px;
	}
	.tzSelect {
		width: 324px !important;
		margin-top: 0px;
		margin-bottom: 24px;
	}
}

/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 480px) {
	body {
		width: 282px;
		padding: 0px 10px 60px;
		background-position: 50% 48px;
		background-image:
			url(/img/RSS_Flowers_by_CorouD/flower1_white1_small.png);
	}
	h1 {
		margin: 0;
		text-align: center;
		padding: 0;
		font-size: 250%;
	}
	#description {
		font-size: 90%;
		width: 110px;
		margin-top: 144px;
	}
	#citation {
		line-height: 130%;
		margin-top: 85px;
		font-size: 80%;
		width: 115px;
	}
	.field input {
		width: 162px;
	}
	#text {
		width: 162px;
		position: relative;
		top: -4px;
		margin-left: 4px;
		margin-bottom: 28px;
	}
	#add {
		margin-left: 4px;
		width: 184px;
	}
	.tzSelect {
		width: 184px !important;
		margin-top: 0px;
		margin-bottom: 24px;
	}
}